/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2017.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

/* noty_nx_hosted.css */

.aw-widgets-cellListCellCommands.aw-widgets-cellInteraction
{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction:row-reverse;
    -ms-flex-direction: row-reverse;
    -flex-direction: row-reverse;
}
.aw-widgets-cellListCellContent
{
    width:60%;
}
.aw-widgets-cellTableOpenImage.aw-widgets-cellListCellCommandHover
{
    margin:auto;
}
.aw-jswidgets-grid .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
    overflow: visible;
}

aw-include[name="Awp0HostedObjectInfo"] button.aw-commands-commandIconButton.aw-commands-commandWrapperHorizontal.aw-commandId-Awp0EditLocalizationSingle {
    display: none;
}
