// Copyright 2019 Siemens Product Lifecycle Management Software Inc.
/* Engineering View Management */

.aw-viewmanagement-showResultsStyle {
    margin-top: rem-calc(7);
}

label.aw-viewmanagement-configurationRow.sw-property.sw-component {
    margin-bottom: 0;
}

.aw-viewmanagement-viewSeedSection .sw-section-content {
    padding: 0;
}

.aw-viewmanagement-seedsTreeCheckBoxStyle .aw-widgets-propertyContainer {
    margin-bottom: 0;
}

label.aw-viewmanagement-seedsTreeCheckBoxStyle.sw-property.sw-component.sw-reverse.sw-row.sw-autoSize {
    padding-left: rem-calc(5);
    margin-bottom: 0;
}

.aw-viewmanagement-seedsTree .aw-splm-tableCellTop {
    overflow: hidden;
}

.aw-viewmanagement-resultsSection .sw-section-content {
    padding: 0;
}

.aw-viewmanagement-viewQuerySection .sw-section-content{
    padding: 0;
}

.aw-viewmanagement-configSection .sw-section-content{
    padding: rem-calc(8);
}

.aw-viewmanagement-closureRule .aw-jswidgets-arrayWidgetContainer{
    padding: rem-calc(5);
}
