// Copyright 2019 Siemens Product Lifecycle Management Software Inc.
.aw-qualitycharacteristicsmanager-updateCharacteristicsToLatest.aw-base-blk-button {
    width: 125px;
    margin: 0 15px 0 40px;
}

.aw-qualitycharacteristicsmanager-closeCompareViewBtn.aw-base-blk-button {
    width: 125px;
    margin-left: auto;
    margin-right: -32px;
}

.aw-qualitycharacteristicsmanager-createXrtPanel .aw-layout-panelSection {
    margin-bottom: 0;
}

.aw-qualitycharacteristicsmanager-listBox {
    padding: 0 16px;
    display: block;
}

.aw-qualitycharacteristicsmanager-awWidget {
    padding: 0 16px;
    @include flexbox();
}

.aw-qualitycharacteristicsmanager-visualIndicatorawPropertyLabel {
    @include flexbox();
    @include flex(2);
    max-width: 300px;
}

.aw-qualitycharacteristicsmanager-visualIndicatorawflexrow {
    @include flex(3);
    @include flexbox();
}

.aw-qualitycharacteristicsmanager-visualIndicatorPanelawPropertyLabel{
    @include flexbox();
    flex-grow: 0.65;
}
.aw-apqp-expand{
    .aw-popup-command-bar{
        .aw-widgets-cellListItem{
            margin: 0;
        }
    }
}
.aw-apqp-expandToLevelInput {
    padding: $padding_large;
    width: rem-calc(130);
}
