// Copyright 2018 Siemens Product Lifecycle Management Software Inc.
/* Slmcoreaw default styling */

.aw-slmcoreaw-backButton {
    float: left;
}
.aw-slmcoreaw-dateChar {
    font-size: $fontsize_x_large;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    float: left;
}
.aw-slmcoreaw-devChar {
    width:50%;
}

.aw-slmcoreaw-charPanel {
    margin-top: $margin_x_large;
}
