// Copyright 2018 Siemens Product Lifecycle Management Software Inc.
.aw-architecture-partialOpacity>div {
    opacity: .2;
}

.aw-architectureModeler-NodeOpacity {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
}
