/* Copyright 2019 Siemens Product Lifecycle Management Software Inc. */

div.aw-parameter-view-table .aw-parameter-view-table-cell-value-different .aw-widgets-propertyNonEditValue {
    color: $AW_Red;
}

div.aw-parameter-view-table .aw-parameter-view-result-success .aw-widgets-propertyNonEditValue {
    color: $AW_Green;
}

div.aw-parameter-view-table .aw-parameter-highlightDifference {
    border-color: $Siemens_Red_18;
    background-color: $Siemens_Red_24;
}

div.aw-parameter-view-table .aw-parameter-showRedIndicator {
    background-color: $Siemens_Red_18;
}

div.aw-parameter-view-table .aw-parameter-showYellowIndicator {
    background-color: $Status_Gray_Base;
}
