/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2019.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/
/* begin EDA */

.aw-eda-frame
{
    height: 83vh;
    width: 100%;
}

.aw-eda-frame .aw-jswidgets-htmlPanelFrame
{
    height: 100%;
    width: 100%;
}
