/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2020.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

.aw-sen-ebomContent,
.aw-sen-sbomContent{
    padding: 8px 0;
}

.aw-sen-clickableCellIcon {
    cursor: pointer;
}

.aw-sen-italicText {
    font-style: italic;
}
.aw-sen-visual-indicator{
    width: rem-calc(16);
    height: rem-calc(16);
    overflow: hidden;
}

.aw-splm-tableCellText.aw-sen-cellText {
    padding-left: 0;
}

.aw-sen-header-visual-indicator{
    padding-right: $padding_xlarge;
}

.aw-sen-requiredFields{
    font-style: italic;
    margin-left:rem-calc(25) ;
    margin-top: rem-calc(-18);
}

.aw-sen-textSelectedPart{
    margin-top: $margin_large;
    margin-left:$margin_small ;
}

.aw-sen-eolListContainer {
    font-size: $fontsize_large;
    padding-right: $padding_xlarge;
}

.aw-sen-eolListContent {
    margin-right: rem-calc(5);
}
.aw-sen-setEOLButton {
    margin-right: $margin_normal;
}

.aw-sen-title {
    font-size: $fontsize_large;
    font-weight: $bold_font_weight;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aw-sen-eolListRevRuleVal {
    font-weight: $bold_font_weight;
}

.aw-sen-listHorizontal>ul
{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.aw-sen-setEolIcon {
    margin-left: $margin_large;
}
.aw-sen-removeEolIcon {
    margin-right: $margin_large;
}
.aw-sen-editEolIcon {
    margin-left: $margin_small;
}
.aw-sen-findAssignmentUnderText {
    margin-left: $margin_large ;
    font-weight: $bold_font_weight;
}
.aw-sen-parentPartsList{
    margin-top: $margin_small;
}

