// Copyright 2019 Siemens Product Lifecycle Management Software Inc.
.aw-prgSchedulemanager-checklistStopColor  {
    border-left-color : $AW_Red;
}

.aw-prgSchedulemanager-checklistWarningColor  {
    border-left-color: $AW_Yellow;
}

.aw-prgSchedulemanager-checklistGoodColor  {
    border-left-color : $AW_Green;

}
div.aw-splm-tableCellContents .aw-prgSchedulemanager-checklistTableStopColor,
div.aw-widgets-gridCellColorContainer .aw-prgSchedulemanager-checklistTableStopColor {
    background : $AW_Red;
}

div.aw-splm-tableCellContents .aw-prgSchedulemanager-checklistTableWarningColor,
div.aw-widgets-gridCellColorContainer .aw-prgSchedulemanager-checklistTableWarningColor {
    background : $AW_Yellow;
}

div.aw-splm-tableCellContents .aw-prgSchedulemanager-checklistTableGoodColor,
div.aw-widgets-gridCellColorContainer .aw-prgSchedulemanager-checklistTableGoodColor {
    background : $AW_Green;
}


