// Copyright 2018 Siemens Product Lifecycle Management Software Inc.

.aw-verificationManagement-chartStatusColor1 {
    background-color: $aw_gray_22;
}
.aw-verificationManagement-chartStatusColor2 {
    background-color: $brand_error_background;
}
.aw-verificationManagement-chartStatusColor3 {
    background-color: $brand_success_background;
}
.aw-verificationManagement-chartStatusColor4 {
    background-color: $Siemens_Yellow_11;
}
.aw-verificationManagement-chartStatusColor5 {
    background-color: $Siemens_Yellow_17;
}

.aw-verificationManagement-testCasePieChartColor1 {
    background-color: $Siemens_Blue_9;
}
.aw-verificationManagement-testCasePieChartColor2 {
    background-color: $Siemens_Yellow_17;
}
.aw-verificationManagement-testCaseBarChartColor1 {
    background-color: $Siemens_Blue_17;
}
.aw-verificationManagement-testCaseBarChartColor2 {
    background-color: $Siemens_Yellow_11;
}
.aw-verificationManagement-executionChartColor1 {
    background-color: $PL_Black_12;
}
.aw-verificationManagement-executionChartColor2 {
    background-color: $Siemens_Blue_14;
}
.aw-verificationManagement-executionChartColor3 {
    background-color: $aw_gray_22;
}
.aw-verificationManagement-executionChartColor4 {
    background-color: $Charting_Purple_Base;
}
.aw-verificationManagement-executionChartColor5 {
    background-color: $Siemens_Blue_6;
}
.aw-verificationManagement-executionChartColor6 {
    background-color: $Siemens_Yellow_11;
}
.aw-verificationManagement-executionChartColor7 {
    background-color: $Siemens_Yellow_17;
}
.aw-verificationManagement-executionChartColor8 {
    background-color: $brand_success_background;
}
.aw-verificationManagement-executionChartColor9 {
    background-color: $brand_error_background;
}

.aw-verificationManagement-executionChartColor10 {
    background-color: $Charting_Brown_Base;
}

.aw-verificationManagement-executionChartColor11 {
    background-color: $Charting_Teal_Base;
}

.aw-verificationManagement-executionChartColor12{
    background-color: $Charting_Pink_Base;
}
