/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2022.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

.aw-serviceplanning-table .aw-splm-table {
    height: 100%;
}

.aw-serviceplanning-seperator {
    height: 2rem;
}

.aw-serviceplanning-summary .aw-xrt-tabsContainer{
    height:rem-calc(45.6);
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.aw-serviceplanning-pertContainer{
    border-width: rem-calc(1);
    border-style: solid;
}
.aw-serviceplanning-popupLabel {
    .sw-property-name {
        position: absolute;
        top: -9999px ;
        left: -9999px;
    }
    .sw-readOnly .sw-property-val {
        padding-left: $padding_normal;
        font-weight: 700;
    }
}
