/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2022.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

.aw-timeanalysis-wcLabel .sw-property-val {
    font-weight: 600;
}

.aw-timeanalysis-totalWorkLabel .sw-property-name {
    min-width: 6.333333rem;
}

.aw-timeanalysis-totalLabel {
    padding-top: 0.5em;
}

.aw-timeanalysis-separator {
    height: 2rem;
}

.aw-timeanalysis-colWidth {
    width: 4.3333333%;
}

.aw-timeanalysis-totalDurationLabel .sw-property-name{
    min-width: 8.3333333rem;
}

.aw-timeanalysis-summary .aw-xrt-tabsContainer{
    height:rem-calc(45.6);
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

