// Copyright 2021 Siemens Product Lifecycle Management Software Inc.

.aw-tcxsimplified-card {
    background-color: $brand_primary_content_background;
}

.aw-tcxsimplified-layout{
    border-color: $aw_gray_22;
}

.aw-tcxsimplified-text {
    color:$PL_Black_13;
}

.afx-content-background .aw-tcxsimplified-title .sw-aria-border {
    color: $Siemens_Blue_7;
    &:hover {
        color: $Siemens_Yellow_9;
    }
}

.aw-tcxsimplified-discussionCell .aw-widgets-cellListWidget .aw-widgets-cellListItem:not(.aw-widgets-dropframe) {
    border-color: $PL_Black_16;
}
