// @<COPYRIGHT>@
// ==================================================
// Copyright 2020.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

.aw-ngp-commandPopupList{
    ul.aw-layout-popupPanelContainer{
        max-height: 650px;
    }
}

.aw-ngp-tooltipPadding{
    padding: $padding_normal;
}

.aw-ngp-tableIconCellCursor{
    cursor: pointer;
}
