// @<COPYRIGHT>@
// ==================================================
// Copyright 2020.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

.aw-ngp-informationDetailsTitle{
    color: $brand_primary_content_text;
}

.aw-ngp-attachmentsPanel {
    .aw-ngp-attachmentsPanelOverview{
        li{
            color: $brand_primary_accent_text;
            background-color: $brand_secondary_content_background;
        }
    }
}
