// @<COPYRIGHT>@
// ==================================================
// Copyright 2021.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

.aw-ngp-arrangeDlgPanel{
    .aw-ngp-arrangeDlgListPanel{
        border-color:$chip_background_hover;

        .aw-ngp-arrangeDlgListItem{
            &.aw-ngp-arrangeDlgFixedListItem{
                color: $PL_Black_Shade_4;
            }
        }
    }

    .aw-ngp-arrangeDialogCmds{
        button.aw-commands-commandIconButton{
            &:hover{
                background-color: $brand_selection_background_hover;
            }
        }
    }
}
