// @<COPYRIGHT>@
// ==================================================
// Copyright 2021.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

.aw-ngp-associatePartitionsPanel{
    .aw-layout-summaryContent{
        .aw-ngp-associatePartitionsPanelBody{
            .aw-ngp-associatePartitionEmptyMsg{
                border-color: $brand_secondary_border;
            }

            .aw-ngp-associatePartitionsCmdBar{
                button.aw-commands-commandIconButton{
                    &:hover{
                        background-color: $brand_selection_background_hover;
                    }
                }
            }
        }
    }
}

.aw-ngp-inScopeTitle, .aw-ngp-outOfScopeTitle{
    color:$brand_secondary_content_text;
}
