// @<COPYRIGHT>@
// ==================================================
// Copyright 2020.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

@mixin aw-ngp-mcnTile {
    border: rem-calc(1) solid;
    padding: rem-calc(10);
}

.aw-ngp-activeMCNPopup{
    &.sw-popup-layout{
        border: none;
    }

    .aw-ngp-activeMcnPopupContent {
        height: inherit;

        &.aw-panel .aw-panelBody{
            padding: $padding_xlarge 0 $padding_xlarge $padding_xlarge;

            .aw-ngp-mcnHistoryOfChangeList,
            .aw-ngp-activeMcnPanel,
            .aw-ngp-mcnHistoryOfChangeLink{
                padding-right: $padding_xlarge;
            }
        }

        .aw-ngp-mcnActiveMcnHeader,
        .aw-ngp-mcnRelatedEcnsHeader {
            font-size: $fontsize_large;
            font-weight: 600;
            margin-bottom: $margin_normal;
        }

        .aw-ngp-activeMcnTile,
        .aw-ngp-mcnHistoryOfChangeList,
        .aw-ngp-relatedEcnTiles {
            width: 100%;
            .aw-widgets-cellListWidget .aw-widgets-cellListItem {
                @include aw-ngp-mcnTile;
                width: inherit;
                margin-bottom: $margin_large;
            }
        }

        .aw-ngp-relatedEcnTiles {
            max-height: rem-calc(232);
            overflow-y: auto;
            padding-right: $padding_xlarge;
        }

        .aw-ngp-mcnHistoryOfChangeLink {
            a {
                text-decoration: underline;
                float: right;
            }
        }

        .aw-ngp-mcnChangeManagementLink {
            margin-bottom: $margin_large;
            a {
                text-decoration: underline;
            }
        }
    }
}

.aw-ngp-mcnIndication {
    cursor: pointer;
    padding-top: $padding_small;
    margin-right: $margin_small;
    .aw-ngp-activeMcnIndication.sw-button-iconContainer,
    .aw-ngp-notTrackedIndication.sw-button-iconContainer {
        padding: 0;
        border: none;
        .sw-button-icon,
        svg{
            height: rem-calc(24);
            width: rem-calc(24);
        }
    }
}

.aw-ngp-historyOfChangeDialog{
    .aw-ngp-historyOfChangePanelBody {
        &.aw-panelBody.aw-base-scrollPanel{
            padding-right: 0;
        }

        .aw-ngp-mcnHistoryOfChangeList {
            padding-right: $padding_xlarge;

            .aw-widgets-cellListWidget .aw-widgets-cellListItem {
                @include aw-ngp-mcnTile;
                width: 100%;
                margin-bottom: $margin_large;
            }
        }
    }
}


.aw-ngp-activeMcnTooltip {
    .aw-mfe-tooltipRowMessage:nth-child(n+4) {
        display: list-item;
        list-style-type: disc;
        list-style-position: outside;
        margin-left: rem-calc(18);
        margin-bottom: $margin_small;
    }
}


//////////////////////////////////////////////////////////////////////
/////// CSS the will be gone once we remove the hosted dialog ///////
//////////////////////////////////////////////////////////////////////
.aw-layout-popup.aw-layout-popupOverlay.afx-content-background.aw-ngp-impactAnalysisDialog {

    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;

    .aw-layout-flexRowContainer {
        height: inherit;
    }

    >div {
        height: 100%;

        >div {
            height: 100%;
        }
    }

    .ngp-mcnHostingView-body {
        width: 100%;
        height: calc(100% - 100px);

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    .ngp-mcnHostingView-container {
        width: 100%;
        height: 100%;
    }

    .aw-layout-summaryContent {
        width: 100%;
        height: 100%;
    }

    .ngp-mcnHostingView-header {
        height: 100px;
        padding-left: 15px;


        .ngp-mcnHostingView-headerIcon {
            display: inline;
            margin-right: 10px;

            aw-icon>svg {
                width: 64px;
                height: 64px;
            }
        }

        .ngp-mcnHostingView-headerText {
            display: inline-block;
        }

        .ngp-mcnHostingView-headerCloseIcon {
            display: inline-block;
            right: 45px;
            position: absolute;
            cursor: pointer;
        }
    }

    .aw-popup-contentContainer {
        width: 100%;
        padding: 30px;

        .aw-layout-panelContent {
            width: 100%;
            height: 100%;
            max-height: none;
            max-width: none;
        }
    }

    .ngp-mcnHostingView-subtitletitle {
        height: 19px;
        font-size: 19px;
    }

    .ngp-mcnHostingView-title {
        font-size: 36px;
    }
}

.aw-ngp-createMcnPopup {
    .aw-widgets-namingRuleGroup {
        .aw-jswidgets-drop {
            position: fixed;
        }
    }
}

