// @<COPYRIGHT>@
// ==================================================
// Copyright 2021.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

.aw-ngp-emptyContentElementsDropIndication{
    width:36px;
    height:36px;
    margin: 0 auto 8px;
}

.aw-ngp-emptyContentElementsAddIndication{
    .aw-mfe-messageIcon{
        >svg{
            width:20px;
            position: absolute;
            margin-left: 6px;
        }
    }
}
