// @<COPYRIGHT>@
// ==================================================
// Copyright 2020.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

.aw-mfe-subpageContent {
    .aw-splm-table#ngpBuildStrategyTable {
        height: 100%;
    }
}
.aw-ngp-buildStrategyLeftContent{
    label.aw-mfe-tabTitle{
        width: 100%;
    }
    aw-advanced-bar div[align-content='start'].aw-flex-column{
        width: calc(70% - 16px);
    }
}

.aw-layout-popup {
    .aw-widgets-cellListItem#ngpViewProductScopePanel .aw-widget-pic,
    .aw-widgets-cellListItem#ngpViewAssignmentsPanel .aw-widget-pic
    {
        width: 0;
    }
}
