// @<COPYRIGHT>@
// ==================================================
// Copyright 2021.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@


.aw-ngp-contentDetailsInfoPanel{
    .aw-ngp-attachmentsInformationPanel{

        .aw-advanced-bar-horizontal{
            margin-top: 8px;
        }

        .aw-mfe-contentPanel{
            border-left: none;
            border-bottom: none;
        }
    }
}
