// @<COPYRIGHT>@
// ==================================================
// Copyright 2020.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@


.aw-ngp-addPredecessorsPanel{
    .aw-guidance-message {
        margin: 16px 0 ;
    }
    .aw-widgets-cellListContainer{
        border: 1px solid ;
        height: 250px;
        overflow-y: auto;
    }
    .aw-layout-panelMain .aw-layout-panelBody .aw-widgets-cellListWidget .aw-widgets-cellListItem{
        width: calc(100% - 24px);
    }
}
