// @<COPYRIGHT>@
// ==================================================
// Copyright 2020.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@


.aw-ngp-chipContainer {
    .aw-ngp-effectivityIndication {
        .aw-widgets-chip {
            border-color: $default_main_button_border;
        }
    }
}

.aw-commands-cellDecorator {
    .aw-ngp-discontinuedSubElementsBadge {
        background-color: $brand_error_background;
        color: $brand_primary_text;
    }
}
