// @<COPYRIGHT>@
// ==================================================
// Copyright 2020.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

.aw-ngp-updateClonesDialogWarning {
    padding-left: $padding_normal;
    margin-bottom: $margin_normal;
    line-height: 2.7;
    border: solid rem-calc(1);
    border-radius: rem-calc(3);
}

.aw-ngp-updateClonesDialogFirstMsg {
    margin-bottom: $margin_normal;
}

.aw-ngp-cloneTooltipWithWarning{
    .aw-mfe-tooltipContent{
        padding: $padding_normal $padding_xlarge 0;
    }
}
