/* Copyright 2021 Siemens Product Lifecycle Management Software Inc. */
div.aw-attrtargetmgmt-legendItemMarker.differenceValue{
    background-color:$Siemens_Red_18
    ;
}
div.aw-attrtargetmgmt-legendItemMarker.missingValue{
    background-color:$Status_Gray_Base;
}

.aw-engrtable-mainSvg .highlight {
    fill: $brand_selection_background_hover;
}

.aw-engrtable-cell {
    .dirty {
        fill: $Siemens_Blue_24;
    }
    .selected-cell {
        fill: $brand_selection_background_selected;
    }
    .inactive {
        fill: $brand_primary_border;
    }
    .copying {
        fill: $PL_Black_26;
    }
    .cell {
        stroke: $brand_secondary_border;
    }
}

.aw-engrtable-header .cell {
    fill: $brand_table_header_background;
    stroke: $brand_primary_border;
}

.aw-engrtable-rowHeader,.aw-engrtable-columnHeader .selected-cell {
    fill: $brand_secondary_content_background;
}

.aw-engrtable-rowHeader .selected-cell {
    fill: $brand_secondary_content_background;
}

.aw-engrtable-columnHeader .selected-cell {
    fill: $brand_secondary_content_background;
}

.aw-engrtable-mainSvg {
    stroke: $brand_primary_border;
    fill: $brand_primary_content_background;
}

aw-popup-panel2 .aw-attrtargetmgmt-toolbar button.disabled{
    background-color: inherit;
    border-color: transparent;
}

.aw-splm-table .ui-grid-row.aw-attrtargetmgmt-sourceRow {
    background: $aw_gray_25;
}

.aw-splm-table .ui-grid-row.aw-splm-tableHoverRow.aw-attrtargetmgmt-sourceRow  {
    background: $brand_selection_background_hover;
}

.aw-splm-table .ui-grid-row.ui-grid-row-selected.aw-attrtargetmgmt-sourceRow {
    background: $brand_selection_background_selected;
}
