/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2018.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

.aw-apqpprogrammgt-topPanel {
    height: 100%;
    width: 100%;
}

.aw-apqpprogrammgt-loadingLabel{
    font-size: 10px;
}

