/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2015.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

/* systemmodeler */
.aw-systemmodeler-interfacePage {
    height: 80vh;
}

.aw-systemmodeler-topPanel {
    height: 100%;
    width: 100%;
}

.aw-systemmodeler-mainPanel {
    height: inherit;
    width: 100%;
}

/* Object Relations Tabs */

.aw-systemmodeler-tabs {
    float: left;
    width: 100%;
    margin-top: 20px;
}

/* Object Relations panel section */

.aw-systemmodeler-objectRelationsPanel .aw-layout-panelSection {
    box-sizing: border-box;
}

/* Default height for Object Relations view. */

.aw-systemmodeler-objectRelationsPanel .aw-layout-panelSectionContent {

    height: 300px;
}

/* Style to apply when Incoming/Outgoing relations are collapsed */

.aw-systemmodeler-objectRelationsPanel .aw-layout-panelSectionContentHidden {

    height: 10px;
}

/* Style to apply when Incoming/Outgoing relations are expanded */

.aw-systemmodeler-objectRelationsPanel .aw-layout-panelSectionContentExpanded {

    height: 400px;
}

.aw-systemmodeler-backButton {
    margin-right: 5px;
}

.aw-systemmodeler-exchangeCreateInput {
    display: inline;
    overflow: hidden;
    width: 100%;
}

.aw-systemmodeler-requiredLabel {
    font-style: italic;
    font-size: $fontsize_normal;
    vertical-align: top;
    align-self: flex-end;
    margin-bottom: 10px;
}

.aw-systemmodeler-attrDefnSection {
    margin-top: 15px;
}

.aw-systemmodeler-attrDefnSection .aw-layout-panelSectionTitle {
    margin-bottom: 0;
}

.aw-systemmodeler-addExchangeElement .aw-layout-panelSection {
    margin-bottom: 0;
}

.aw-systemmodeler-intfElemPropertyName {
    padding: 7px 0;
}

.aw-systemmodeler-intfElemSystemName {
    font-weight: bold;
    padding: 7px 0;
}

.aw-systemmodeler-circleNodeLabelBackground {
    filter: url(#graph-node-drop-shadow);
    fill: transparent;
}

span.aw-systemmodeler-cellDisplay {
    font-size: $fontsize_4x_large;
}

.aw-systemmodeler-boundaryStyle {
    fill-opacity: 1
}

.aw-systemmodeler-connectionSection {
    form.aw-layout-panelSectionContent {
        padding-top: 0;
    }
    .aw-layout-panelSectionContent {
        margin-bottom: 0;
    }
}

.aw-systemmodeler-variantgridHeader {
    display: block;
    height: rem-calc(145);
    width: rem-calc(20);
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    margin-top: -4px;
    cursor: context-menu; // Overwrite 'auto' cursor on text
}

.aw-systemmodeler-variantgridHeaderRow {
    margin-top: $margin_small;
}

.aw-systemmodeler-variantgridHeaderIcon {
    height: rem-calc(24);
    width: rem-calc(24);
    cursor: context-menu;
}


.aw-splm-tableMatrixPinnedHeader {
    overflow: hidden;
}

.aw-splm-tableMatrixPinnedHeader li:first-child {
    font-weight: normal;
}

.aw-splm-tableMatrixPinnedHeader li:not(:first-child){
    padding-left: $padding_normal;
}

.aw-splm-tableMatrixPinnedHeader li {
    list-style-type: none;
    padding-top: $padding_xsmall;
    padding-bottom: $padding_small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//apply normal styling to aw-link

.aw-link.aw-sysModeler-awLink  {
        font-weight: normal;
}

.aw-sysModeler-awPic{
    margin-right:rem-calc(6)
}
