// Copyright 2018 Siemens Product Lifecycle Management Software Inc.

.aw-verificationManagement-chartStatusColor1 {
    background-color: $aw_gray_22;
}
.aw-verificationManagement-chartStatusColor2 {
    background-color: $brand_error_background;
}
.aw-verificationManagement-chartStatusColor3 {
    background-color: $brand_success_background;
}
