// @<COPYRIGHT>@
// ==================================================
// Copyright 2021.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

.aw-createNXAssemblyPanel-simplifyHolderGeometryCheckBox{
    margin-left: 20px;
}

.aw-resourcemanager-graphContainer{
    height: 650px;
}

.aw-showMRMLandingPage-title {
    font-weight: $bold_font_weight;
    font-size: $fontsize_large;
    width: 100%;
    padding-left: $padding_small;
    padding-bottom:$padding_large;
    text-transform: uppercase;
}

.aw-showMRMLandingPage-card {
    margin: rem-calc(10);
    flex-direction: column;
    display: flex;
    .aw-widgets-cellListWidget {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.aw-showMRMLandingPage-cardHeight {
    height: rem-calc(330);
}

.aw-showMRMLandingPage-cellborder {
    .sw-aria-border.aw-widgets-cellListItem.aw-widgets-cellTop {
        border-color: transparent;
        border-bottom-color: transparent;
    }
}
