// @<COPYRIGHT>@
// ==================================================
// Copyright 2023.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

.aw-showMRMLandingPage-bg{
    @include gradient_bg();
    color: $brand_primary_inverse_text;
    fill: $brand_primary_inverse_text;
}

.afx-content-background .aw-showMRMLandingPage-title .sw-aria-border {
    color: $Siemens_Blue_7;
    &:hover {
        color: $Siemens_Yellow_9;
    }
}

.aw-showMRMLandingPage-discussionCell .aw-widgets-cellListWidget .aw-widgets-cellListItem:not(.aw-widgets-dropframe) {
    border-color: $PL_Black_16;
}
